.searchBox-wrapper{
    position: relative;
    display: inline-table;
    width: 300px;
    border:1px solid #ddd;
    border-radius: 6px;
    padding: 1px;
}
.searchBox-wrapper input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border:0;
}
.searchBox-wrapper .searchBtn{
    position: absolute;
    right: 0;
    top:0;
    padding: 5px;
    cursor: pointer;
}